

<div class="container-fluid">
    <div class="header clearfix">
        <p>Reason for Update</p>
        <button class="btn btn-default btn-lg">Update Availiblity for wave 2</button>
        <button class="btn btn-default pull-right btn-lg">Cancel</button>
    </div>
       
    <div class="row content clearfix section-padding">

      <div class="col-sm-2 text-left clearfix">
        <p>Version Change?</p>
        <div class="">
                <input type="checkbox" class="col-sm-1 pull-left" value="yes">yes
        </div>
        <div class="">
                <input type="checkbox" class="col-sm-1 pull-left" value="no">no
        </div>
      </div>
      <div class="col-sm-6 text-left clearfix m-b">
           <div class="col-sm-9">
                <span>input recepeint</span>
            <input type="text" class="form-control pull-left" placeholder="surfaceconsumer@microsoft.com">
           </div> 
           <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus"></span> Add recipient
              </button>   
           
          </div>
      <div class="recepeint col-sm-6">
            <label class="pull-left"> Recipient list</label>
            <div class="list-view pull-left">
                <ul>
                    <li>
                            <input type="checkbox" class="col-sm-1 pull-left" value="yes">urfaceconsumer@microsoft.com
                    </li>
                    <li>
                            <input type="checkbox" class="col-sm-1 pull-left" value="yes">urfaceconsumer@microsoft.com
                    </li>
                    <li>
                            <input type="checkbox" class="col-sm-1 pull-left" value="yes">urfaceconsumer@microsoft.com
                    </li>
                    <li>
                            <input type="checkbox" class="col-sm-1 pull-left" value="yes">urfaceconsumer@microsoft.com
                    </li>
                    <li>
                            <input type="checkbox" class="col-sm-1 pull-left" value="yes">urfaceconsumer@microsoft.com
                    </li>
                    <li>
                            <input type="checkbox" class="col-sm-1 pull-left" value="yes">urfaceconsumer@microsoft.com
                    </li>
                    <li>
                            <input type="checkbox" class="col-sm-1 pull-left" value="yes">urfaceconsumer@microsoft.com
                    </li>
                </ul>
            </div>
      </div>
      <div class="col-xs-12">
            <button type="button" class="btn btn-default btn-lg pull-right">
                    <span class="glyphicon glyphicon-plus"></span> publish
                  </button>  
      </div>
      
    </div>
  </div>
