<div id="wrapper">

	<div name="login-form" class="login-form">

		<div class="header">
        <span class="logo"></span>
		<h1>Pick an Account</h1>
		<span>Fill out the form below to login to my super awesome imaginary control panel.</span>
		</div>

		<div class="content">
		<input name="username" type="text" class="input username" placeholder="Username" />
		<div class="user-icon"></div>
		<input name="password" type="password" class="input password" placeholder="Password" />
		<div class="pass-icon"></div>
		</div>

		<div class="footer">
		<button  (click)='navigateToPublish()' class="button">Login</button>
		<button class="register">Register</button>
		</div>

    </div>

</div>
<div class="gradient"></div>
