<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
    <h1 class="text-hide" style="background-repeat:no-repeat;margin:0;background-size:contain;background-image: url('http://pngimg.com/uploads/microsoft/microsoft_PNG20.png'); width: 215px; height: 60px;">microsoftbrand</h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  </div>
</nav>
<router-outlet></router-outlet>
<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Microsoft ©</p>
</div>
